name: CI

on:
  push:
    tags:
      - '*'
    branches:
      - '*'
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        deno-version: [1.29.2]
    environment: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Use Deno Version ${{ matrix.deno-version }}
        uses: denolib/setup-deno@master
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Get nsc
        run: |
          wget "https://github.com/nats-io/nsc/releases/latest/download/nsc-linux-amd64.zip" -O tmp.zip
          unzip tmp.zip
      - name: Run Tests
        run: deno test --allow-all --unstable --failfast --coverage=./cov
